@model Web.Models.Cities.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Cities.CitiesResources.Title</h1>

<p>
    <a class="btn btn-outline-secondary" asp-action="Create">@Resources.Cities.CitiesResources.Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Resources.Cities.CitiesResources.Name
            </th>
            <th>
                @Resources.Cities.CitiesResources.StateId
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ver detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Cities", new { PageIndex = Model.PageIndex - Model.PageSize, PageSize = Model.PageSize  })"><<</a></li>
        @for (int i = Model.PageIndex; i < Model.PageIndex + 10; i++)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Cities", new { PageIndex = Model.PageSize * i, PageSize = Model.PageSize  })">@(i + 1)</a></li>
        }
        <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Cities", new { PageIndex = Model.PageIndex + Model.PageSize, PageSize = Model.PageSize  })">>></a></li>
    </ul>
</nav>
