@model Web.Models.States.StateDetailsViewModel

@{
    ViewData["Title"] = "Detalles del departamento";
}

<h1>Detalles del departamento</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Model.Id
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
    </dl>
</div>

<h4>Ciudades</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model.Cities)
        {
            <tr>
                <td>@city.Id</td>
                <td>@city.Name</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Volver a la lista de departamentos</a>
</div>
